@import "tailwindcss";

:root {
  --main-gradient: linear-gradient(to right, #CAEA71 , #844071, #404F84);
  --background: var(--color-primary-100);
}

@layer components{
  .nf-button {
    @apply flex border justify-center items-center;
  }

  .nf-button-size-md {
    @apply text-primary-md px-8 py-2 leading-3.5 rounded-md;
  }

  .nf-button-size-lg{
    @apply text-primary-xsm px-7 py-4 leading-3 rounded-xl;
  };

  .nf-button-variant-primary {
    @apply bg-primary-200 border-primary-400 text-secondary-500;
  }
  .nf-button-variant-secondary{
    @apply bg-primary-300 border-primary-400 text-secondary-400;
  }
  .nf-button-variant-transparent{
    @apply bg-primary-300 border-secondary-200 text-white;
  }
}

@theme inline {
  --color-background: var(--color-primary-100);
  --color-primary-100: #ECECEC;
  --color-primary-200: #E5E5DF;
  --color-primary-300: #D9D9D9;
  --color-primary-400: #827D7D;
  --color-secondary-100: #5F5959;
  --color-secondary-200: #443B3B;
  --color-secondary-300: #41423E;
  --color-secondary-400: #1C1B1B;
  --color-secondary-500: #111010;
  --color-accent-100: #404F84;
  --color-tertiary-100: #CAE871;
  --text-primary-sm: 11px;
  --text-primary-xsm: 12px;
  --text-primary-md: 14px;
  --text-primary-xmd: 24px;
  --text-primary-lg: 32px;
  --text-primary-xlg: 45px;
  --font-exo: var(--font-exo);
  --font-inter: var(--font-inter);
  --spacing-5\.5: calc(var(--spacing) * 5.5);
  --spacing-max-content-width: 1337px;
  --spacing-15: calc(var(--spacing) * 15);
  --spacing-17: calc(var(--spacing) * 17)
}



.gradient-bg{
  background-image: var(--main-gradient);
}

.gradient-text{
  background-image: var(--main-gradient);
  color: transparent;
  background-clip: text;
}
body {
  background: var(--background);
  font-family: var(--font-exo), serif;
}
